@charset "UTF-8"

body {
    background-color:whitesmoke;
    font-size: 1.0em;
    font-family:Arial, Helvetica, sans-serif;
}
h1 {
    color: white;
    background-color:orange;
}
h2 {
    color:darkslategray;
}
p {
    text-align: justify;
}